[submodule "crates/cobre-solver/vendor/HiGHS"]
	path = crates/cobre-solver/vendor/HiGHS
	url = https://github.com/ERGO-Code/HiGHS.git
[submodule "crates/cobre-solver/vendor/Clp"]
	path = crates/cobre-solver/vendor/Clp
	url = https://github.com/coin-or/Clp.git
[submodule "crates/cobre-solver/vendor/CoinUtils"]
	path = crates/cobre-solver/vendor/CoinUtils
	url = https://github.com/coin-or/CoinUtils.git
