Rogerio Alves <rogerioalves.ee@gmail.com> Ubuntu <ubuntu@ip-10-211-36-214.ec2.internal>
Rogerio Alves <rogerioalves.ee@gmail.com> Rogerio Jose Menezes Alves <rjalves@ip-10-211-36-166.ec2.internal>
carlosribeiro06 <carlosribeiro121201@gmail.com> <128496662+carlosribeiro06@users.noreply.github.com>
